<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">

		<link rel = "stylesheet" href = "{% static 'css/style.css' %}">
		<body>
		<title>NaturalTeas.com</title>
<style>
img {
    float: bottom;

    margin: 0px 0px 15px 20px;
}
</style>





	</head>

	<div id="myDIV">
		<h1><b>Braids/Addins</b> </h1>
	</div>
	<center><img src= "{% static 'images/pictureheader.jpg' %}" style="width:941px;height:196px;"> </center>


<hr>
		<header>
			<ul>
			<pre><a href="{% url 'naturalteas' %}">Home Page</a><a href="{% url 'twistoutbraidout' %}"> Twistouts/braidouts</a><a href="{% url 'boxbraidsandaddins' %}"> Braids/Addins </a><a href="{% url 'washngo' %}">  WashNgo</a><a href="{% url 'howto' %}">      How To</a><a href="{% url 'profilepage' %}">     Profile Page</a></pre>
		</header>

		<p> "Braids/Addins" also know as "protective styles" is a good way to maintain you <mark>natural</mark> hair. Here you can learn how to care for these styles and also find diffrent tutorials of your intrest to help you care for your <mark>natural</mark> hair.
</p>
	<center><img src="{% static 'images/girlcartoon.jpg' %}" width="100" height="140">
	<img src="{% static 'images/dreads.jpg' %}" width="100" height="140"></center>
		<br>
		<br>
		<br>
		<div style="border-top: 2px solid white;">
		<br>

		  <script async defer src="//assets.pinterest.com/js/pinit.js"></script>


			<center> <a data-pin-do="embedBoard" data-pin-board-width="1200" data-pin-scale-height="500" data-pin-scale-width="80" href="https://www.pinterest.com/zykiagerae/braidsaddins/"></a>
		</body></center>s

</html>
