{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}Login{% endblock %}

{% block content %}
  <head>
		<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">

		<link rel = "stylesheet" href = "{% static 'css/style.css' %}">


		<title>NaturalTeas.com</title>

	</head>
<body>
<div id="myDIV">
	<h1><b> NaturalTeas</b> </h1>
</div>
<center><img src= "{% static 'images/pictureheader.jpg' %}" style="width:941px;height:196px;"> </center>

<hr>
		<header>
			<ul>
			<pre><a href="{% url 'naturalteas' %}">Home Page</a><a href="{% url 'twistoutbraidout' %}"> Twistouts/braidouts</a><a href="{% url 'boxbraidsandaddins' %}"> Braids/Addins </a><a href="{% url 'washngo' %}">  WashNgo</a><a href="{% url 'howto' %}">      How To</a> <a href="{% url 'profilepage' %}">      Profile Page</a></pre>
		</header>

		<p>In our website, we want to present the user with tips, tutorials, and various ways to do and take care of our beautiful, <mark>natural</mark> hair. <br> <mark>Natural</mark> hair has many different textures and by using our website, hopefully you will find what works for you. <br>
		We hope you enjoy your journey of living the <mark>natural</mark> life. </p>


	</body>
{% endblock %}
