<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">

		<link rel = "stylesheet" href = "{% static 'css/style.css' %}">
		<body>
		<title>NaturalTeas.com</title>





	</head>

<div id="myDIV">
	<h1><b>Wash n Go</b> </h1>
</div>
<center><img src= "{% static 'images/pictureheader.jpg' %}" style="width:941px;height:196px;"> </center>


<hr>
		<header>
			<ul>
			<pre><a href="{% url 'naturalteas' %}">Home Page</a><a href="{% url 'twistoutbraidout' %}"> Twistouts/braidouts</a><a href="{% url 'boxbraidsandaddins' %}"> Braids/Addins </a><a href="{% url 'washngo' %}">  WashNgo</a><a href="{% url 'howto' %}">      How To</a> <a href="{% url 'profilepage' %}">      Profile Page</a></pre>
		</header>

<head>
<style>
img {
    float: bottom;
    margin: 0px 0px 15px 20px;

}
</style>
</head>
<body>
                  <p>"Wash N Go" styles are the easiest of easy for <mark>natural</mark> hair. Steps are very simple!!! Wash, condition, style, and dry.<br> Your curls will be defined and look healthy by using three easy steps!!!! <br>Various products also help with the outcome of how your <mark>natural</mark> curls and the definition of the curls<br> such as the following:
                    Shea Moisture, Cantu, Creme of Nature, Taliah Waajid, and many more. These <mark>natural</mark> hair products help us gain healthy,<br> strong long hair.
  <p><img src="{% static 'images/washngo.jpg' %}" width="185" height="228">
    <img src="{% static 'images/sheamoisture.jpg' %}" width="185" height="228">
<br>
<br>
<br>
<div style="border-top: 2px solid white;">
<br>

  <script async defer src="//assets.pinterest.com/js/pinit.js"></script>


	<center> <a data-pin-do="embedBoard" data-pin-board-width="1200" data-pin-scale-height="500" data-pin-scale-width="80" href="https://www.pinterest.com/zykiagerae/wash-n-gos/"></a>
</body></center>
</html>
